:root {
  --primary: #e67085;
  --dark: #486060;
  --accent: #bbedf7;
  --text: #343233;
  --divider: #aba3a0;
  --border: #c58590;
  --decorative-font:"Lora", italic;
  --base-font: "Lora", sans-serif;
  --box-shadow:box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
